<div class="row">
  <div class="col-sm-12">
    <header class="header">
      <div class="logocontainer">
        <h1 class="logo">
        	Cecilio A Ramirez Cordova
        </h1>
      </div>

      <ul class="nav nav-tabs navbar-right">
      	<li>
      		<a class="active" href="/">About</a>
      	</li>

        <li>
        	<a href="/portfolio">Portfolio</a>
        </li>

        <li>
        	<a href="/contact">Contact</a>
        </li>
      </ul>
    </header>
  </div>
</div>
