<div class="container">

  <div class="row header">
    <div class="col-sm-12">
      {{>about-header}}
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-9 aboutMe">
              <h3>About Me</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-2 aboutMe">
              <img id="pro-pic" src="../public/images/Porfolio_pic.jpg" alt="Portfolio-Pic">
            </div>

            <div class="col-sm-7 aboutMe">
              <div>
                <p>My name is Cecilio A Ramirez Cordova, I know a long name rite!</p>
                <p>Well I'm Full Stack web developer that speaks javascript!</p>
                <p>I just recently gradauted from UC Berkleys Coding Bootcamp so that i can gain more knoweledge about my native language.</p>
                <p>I spend most of my time trying to make cool and fun programs with javascript.</p>
                <p>When im not trying to make cool and fun programs i spend my time learning new coding laguages.</p>
              </div>
            </div>

            <div class="col-sm-3 pro-connectme">

              <div class="row">
                <div class="col-sm-12">
                  <h4>Connect With Me</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <a href="https://github.com/alexjr1194"><img class="connect-img" src='../public/images/GitHub-Mark.png' alt='GitHub'></a>
                </div>
                <div class="col-sm-4">
                  <a href="https://www.linkedin.com/in/cecilio-ramirez/"><img class="connect-img" src="../public/images/LinkedIn_logo_initials.png" alt="LinkedIn"></a>
                </div>
                <div class="col-sm-4">
                  <a href="https://stackoverflow.com/users/8005525/alex-ramirez"><img class="connect-img" src="../public/images/overflow.svg" alt="Stack Overflow"></a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-12">
      {{>footer}}
    </div>
  </div>

</div>
