<div class="container">

  <div class="row">
    <div class="col-sm-12">
      {{>about-header}}
    </div>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <h1>About Me</h1>
    </div>

    <div class="col-sm-6">
      <div class="row">

        <div class="col-sm-4">
          <img src="../public/images/Porfolio_pic.jpg" alt="Portfolio-Pic">
        </div>

        <div class="col-sm-8">
          <p>My name is Cecilio A Ramirez Cordova, I know a long name rite!</p>
          <p>Well I'm Full Stack web developer that speaks javascript!</p>
          <p>I just recently gradauted from UC Berkleys Coding Bootcamp so that i can gain more knoweledge about my native language.</p>
          <p>I spend most of my time trying to make cool and fun programs with javascript.</p>
          <p>When im not trying to make cool and fun programs i spend my time learning new coding laguages.</p>
        </div>

      </div>
    </div>

    <div class="col-sm-3">

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{>footer}}
    </div>
  </div>
</div>
