<div class="container">

  <div class="row">
    <div class="col-sm-12">
      {{>about-header}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h4>Connect With Me On</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h1>GitHub</h1>
      <a href="https://github.com/alexjr1194"><img class="contact-img" src="../public/images/GitHub-Mark.png" alt="GitHub"></a>
    </div>
    <div class="col-sm-4">
      <h1>LinkedIn</h1>
      <a href="https://www.linkedin.com/in/cecilio-ramirez/"><img class="contact-img" src="../public/images/LinkedIn_logo_initials.png" alt="LinkedIn"></a>
    </div>
    <div class="col-sm-4">
      <h1>Stack Overflow</h1>
      <a href="https://stackoverflow.com/users/8005525/alex-ramirez"><img class="contact-img" src="../public/images/overflow.svg" alt="Stack Overflow"></a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{>footer}}
    </div>
  </div>
</div>
