<div class="container">

  <div class="row header">
    <div class="col-sm-12">
      {{>portfolio-header}}
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">

          <div class="row">
            <div class="col-sm-12">
              <h3>Portfolio</h3>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-9">
              <div class="row">

                <div class="col-sm-6">
                  <h1>Flashcard Generator</h1>
                  <a href="https://github.com/alexjr1194/Flashcard-Generator"><img class="port-pics" src="../public/images/flashcard.png" alt="flashcard-generator"></a>
                </div>

                <div class="col-sm-6">
                  <h1>Liri</h1>
                  <a href="https://github.com/alexjr1194/HomeworkGoesInHere/tree/master/liri-node-app"><img class="port-pics" src="../public/images/liri.png" alt="liri node app"></a>
                </div>

              </div>

              <div class="row">

                <div class="col-sm-6">
                  <h1>Bamazon</h1>
                  <a href="https://github.com/alexjr1194/Bamazon"><img class="port-pics" src="../public/images/bamazon.png" alt="Bamazon"></a>
                </div>

                <div class="col-sm-6">
                  <h1>NightOut</h1>
                  <a href="https://github.com/alexjr1194/Night-Out"><img class="port-pics" src="../public/images/nightout.png"></a>
                </div>

              </div>
            </div>

            <div class="col-sm-3">

              <div class="row">
                <div class="col-sm-12">
                  <h4>Connect With Me</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4">
                  <a href="https://github.com/alexjr1194"><img class="connect-img" src='../public/images/GitHub-Mark.png' alt='GitHub'></a>
                </div>
                <div class="col-sm-4">
                  <a href="https://www.linkedin.com/in/cecilio-ramirez/"><img class="connect-img" src="../public/images/LinkedIn_logo_initials.png" alt="LinkedIn"></a>
                </div>
                <div class="col-sm-4">
                  <a href="https://stackoverflow.com/users/8005525/alex-ramirez"><img class="connect-img" src="../public/images/overflow.svg" alt="Stack Overflow"></a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{>footer}}
    </div>
  </div>

</div>
