body {
  background-color: black;
}

.header {
  background-color: grey;
}

.footer {
  text-align: center;
  background-color: grey;
}

.aboutMe {
  background-color: grey;
}

.pro-connectme {
  background-color: grey;
  border-left: solid;
  border-left-color: black;
}

.projects {
  background-color: grey;
}
.port-connect {
  background-color: grey;
  border-left-color: black;
  border-left: solid;
}

















#pro-pic {
  width: 128px;
}

.connect-img {
  width: 67.5px;
}

.port-pics {
  width: 149px;
}

.contact-img {
  width: 212px;
}

.active {
  background-color: #4f5b66;
}
